body {
    padding-top: 4rem;
}

.starter-template {
    padding: 1rem 1rem;
    text-align: center;
}

.input-group {
    padding: 2rem 2rem 2rem 2rem;
    text-align: center;
}

.container-fluid {
    max-width: 1440px;
}

.btn-primary {
    background-color: #2E2EFF;
    border-color: #2E2EFF;
}